<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <h1>Editing {{.Title}}</h1>
    <form action="/save/{{.Title}}" method="post">
      <div>
        <textarea name="body" cols="30" rows="10">
{{printf "%s" .Body}}</textarea
        >
      </div>
      <input type="submit" value="save" />
    </form>
  </body>
</html>
