<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos</title>
  </head>
  <body>
    <h1>Todos</h1>
    <form action="/create/" method="post">
      title
      <div><input type="text" name="title" /></div>
      content
      <div><textarea name="content" cols="30" rows="10"></textarea></div>
      <input type="submit" value="create" />
    </form>

    <h2>Todos</h2>
    <ol>
      {{range .}} {{if eq .Completed ""}}
      <li>{{.Title}} <a href="/edit/{{.ID}}">edit</a> | <a href="/delete/{{.ID}}">delete</a></li>
      {{end}} {{end}}
    </ol>

    <h2>Completed</h2>
    <ol>
      {{range .}} {{if eq .Completed "on"}}
      <li>{{.Title}} <a href="/edit/{{.ID}}">edit</a> | <a href="/delete/{{.ID}}">delete</a></li>
      {{end}} {{end}}
    </ol>
  </body>
</html>
